In [4]:
x = 1
y = x + 1
y

2

In [5]:
type(-37)

int

In [7]:
type(37.)

float

In [20]:
type("data science")

str

In [46]:
data1 = [123,456,789]
data1

[123, 456, 789]

In [52]:
data2 = [[123,"monday",True],["tuesday"],[345]]
data2
len(data2)

3

In [66]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
ns = (0,3,3,2,4,1)
[days[i] for i in ns]

['Mon', 'Thu', 'Thu', 'Wed', 'Fri', 'Tue']

In [73]:
list("statistics")

['s', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's']

## Sets

In [75]:
elements = {"a","b","b","b"}
type(elements)

set

In [77]:
type({})

dict

In [79]:
type(set())

set

In [80]:
firstns = {1,2,3}
secondns = {2,3,4}

In [83]:
firstns & secondns    # intersection of sets

{2, 3}

In [86]:
firstns| secondns    # union

{1, 2, 3, 4}

In [87]:
firstns-secondns  # elements in first not in the second

{1}

In [89]:
6 in firstns

False

In [90]:
3 not in firstns

False

In [92]:
firstns.add(100)
print(firstns)

{1, 2, 3, 100}

In [93]:
firstns.remove(100)
firstns

{1, 2, 3}

In [ ]:
firstns.remove(100)    # not in the set

KeyError: 100

In [96]:
firstns.add(100)
firstns.discard(100)
firstns.discard(100)
firstns

{1, 2, 3}

In [98]:
[n+1 for n in firstns]

[2, 3, 4]

## Dictionary

In [100]:
day2kal = {"monday":2330,"tuesday":1980,"wednesday":3000}
type(day2kal)

dict

In [101]:
day2kal["friday"] = 4500
day2kal

{'monday': 2330, 'tuesday': 1980, 'wednesday': 3000, 'friday': 4500}

In [102]:
day2kal.get("friday")

4500

In [107]:
print(day2kal.get("sunday,-1"))   # you get nothing   if print you get none

None

In [108]:
day2kal["sunday"]

KeyError: 'sunday'

In [110]:
print(day2kal)

{'monday': 2330, 'tuesday': 1980, 'wednesday': 3000, 'friday': 4500}

In [111]:
day2kal.keys()

dict_keys(['monday', 'tuesday', 'wednesday', 'friday'])

In [112]:
day2kal.values()

dict_values([2330, 1980, 3000, 4500])

In [115]:
[kcal*3.13 for kcal in day2kal.values()]

[7292.9, 6197.4, 9390.0, 14085.0]

In [121]:
day2kj = {day:kcal*3.14 for day,kcal in day2kal.items()}
print(day2kj)

{'monday': 7316.200000000001, 'tuesday': 6217.2, 'wednesday': 9420.0, 'friday': 14130.0}

In [123]:
for day,kj in day2kj.items():
    print(day,"=>",kj)

monday => 7316.200000000001
tuesday => 6217.2
wednesday => 9420.0
friday => 14130.0

## Formated strings

In [125]:
roomwidth = 3.5

In [126]:
print("the room width is",roomwidth,"meters")

the room width is 3.5 meters

In [132]:
print(f"the room width is {roomwidth*2.0:+.4f} meters")

the room width is +7.0000 meters

In [133]:
print(f"the room width is {roomwidth*2.0:.4f} meters")

the room width is 7.0000 meters