In [39]:
type( ( 1, ) )   # single ele tuple

tuple

In [40]:
b = 6
print(b)

6

In [41]:
v=[1,2,3]
w = v
v = v+ [4]
v
w

x = [1,2,3,4,5,6]
[i**2 for i in x]

# nums = [1,-2,3,-4,5]
# [i**2  for i in nums if i>=0]

[1, 4, 9, 16, 25, 36]

In [42]:
-37
37_000_037
type(-37)
type("middle")

str

In [43]:
type( -37. )

float

In [49]:
print('hello world')

hello world

**bold**   is bold

# This is tile one
> this is a quotation