In [41]:
v=[1,2,3]
w = v
v = v+ [4]
v
w

x = [1,2,3,4,5,6]
[i**2 for i in x]

# nums = [1,-2,3,-4,5]
# [i**2  for i in nums if i>=0]

[1, 4, 9, 16, 25, 36]

In [42]:
-37
37_000_037
type(-37)
type("middle")

str

In [43]:
type( -37. )

float

In [49]:
print('hello world')

hello world

**bold**   is bold

In [2]:
v = [1,2,3]
w = v
v[0] = 100
w

[100, 2, 3]

# This is tile one
> this is a quotation

In [5]:
v = [1,2,3]
w = v.copy()
v[0] = 100
v

[100, 2, 3]

In [7]:
somenums = [1,-2,3,-4,5]
[x*2 for x in somenums]

[2, -4, 6, -8, 10]

In [8]:
[(x,x**2) for x in somenums]

[(1, 1), (-2, 4), (3, 9), (-4, 16), (5, 25)]

In [9]:
[x for x in somenums if x<0]

[-2, -4]

In [11]:
x = "I am the outside x"
[x for x in somenums if x<0]
x

'I am the outside x'

In [15]:
txt = "Statistics"
txt[0]

'S'

In [17]:
dailykcal = [1000,1900,2000,4000]
dailykcal

[1000, 1900, 2000, 4000]

In [18]:
days = ["monday","tuesday","wed","thu"]
days

['monday', 'tuesday', 'wed', 'thu']

In [21]:
goodmood = [True,True,False]
goodmood
type(goodmood)

list

In [22]:
type([2330,1990,2150])

list

In [24]:
len(days)

4

In [27]:
dataday1 = [2330,"mon",True]
dataday1

[2330, 'mon', True]

In [28]:
v= [1,2,3]
b = v
v[:] = [4,5,6]
b

[4, 5, 6]

In [31]:
v = [5,2,1,4,3]
v.sort(reverse=True)
v

[5, 4, 3, 2, 1]

In [45]:
v= [5,2,1,4,3]
w = v
v.sort()
w = sorted(w,reverse=True)
w
v

[1, 2, 3, 4, 5]

In [47]:
v = [5,2,1,4,3]
v.reverse()
v

[3, 4, 1, 2, 5]

In [50]:
v = [ 5, 2, 1, 4, 3 ]
w = v.copy()
v.reverse()
v
w

[5, 2, 1, 4, 3]

In [55]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.remove("a")
v

['eeeee', 'bb', 'dddd', 'ccc', 'bb']

In [59]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.insert(2,"f")
v

['eeeee', 'bb', 'f', 'a', 'dddd', 'ccc', 'bb']

In [66]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
v[2:2] = w
v

['eeeee', 'bb', 'ffffff', 'g', 'ffffff', 'a', 'dddd', 'ccc', 'bb']

In [67]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.append("f")
v

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'f']

In [68]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
v.extend(w)
v

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'ffffff', 'g', 'ffffff']

In [69]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "bbbab"
w in v

True

In [70]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "abaab"
w not in v

True

In [71]:
lst = [1,2,3,"x","y","z"]
tuple( lst )

(1, 2, 3, 'x', 'y', 'z')

In [72]:
tpl = (1,2,3,"x","y","z")
list( tpl )

[1, 2, 3, 'x', 'y', 'z']

In [73]:
tuple( "Statistics" )

('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's')

In [74]:
list( 'Data Science' )

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [79]:
xs = [ 0, 1, 2, 3, 4, 5 ]
ys = [x**2+x+1 for x in xs]
ys

[1, 3, 7, 13, 21, 31]

In [83]:
xs = range(6)
ys = [x**2+x+1 for x in xs]
ys

[1, 3, 7, 13, 21, 31]

In [85]:
toRemove = "bb"
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [x for x in v  if x!= toRemove]
w

['eeeee', 'a', 'dddd', 'ccc']

In [86]:
toRemove = [ "bb", "a" ]
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [x for x in v  if x not in toRemove]
w

['eeeee', 'dddd', 'ccc']

In [96]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "abaaa", "bbbab", "qbbbq" ]
any(item in w for item in v)

True

In [7]:
txt = input()
print(type(txt))

<class 'str'>

In [16]:
grades = [ 7, 6, 7, 8, 6, 6.5, 8 ]
print("element: ",grades)
print("length: ",grades)
print("4th element: ",grades[3])

element:  [7, 6, 7, 8, 6, 6.5, 8]
length:  [7, 6, 7, 8, 6, 6.5, 8]
4th element:  8

In [18]:
from random import randint
num = randint(0,9)
num

5

In [24]:
vs = [randint(0,9) for _ in range(20)]
set(vs)

{0, 2, 3, 6, 7, 8, 9}

In [ ]:
names2ages = {"Ana": 23, "Ben": 45, "Clara": 12, "David": 45, "Eva": 45, "Fred": 56}
print(type(names2ages))
print(names2ages["Clara"])
zip()

<class 'dict'>
12

In [6]:
someNames = ("Ana", "Ben", "Clara", "David", "Eva", "Fred") # A tuple of strings
someAges = [23, 45, 12, 45, 45, 56]   
zip(someNames,someAges)

In [9]:
[item for  item in zip(someNames,someAges)]

[('Ana', 23),
 ('Ben', 45),
 ('Clara', 12),
 ('David', 45),
 ('Eva', 45),
 ('Fred', 56)]

In [16]:
[(n,a) for n,a in zip(someNames,someAges)]

[('Ana', 23),
 ('Ben', 45),
 ('Clara', 12),
 ('David', 45),
 ('Eva', 45),
 ('Fred', 56)]

In [19]:
n = float(input())
if n > 0:
    print(f"number{n} is positive")
else:
    print(f"number {n} is nonpositive")

number -5.0 is nonpositive

In [ ]:
n = float(input())
t = "positive" if n>0

2

In [31]:
text = """Statistics
and
Data Science"""
print(text)

Statistics
and
Data Science

In [37]:
tang = "1 2 3 4 5"
tang.split()

['1', '2', '3', '4', '5']

In [40]:
tang = "1,2,3,4,5"
tang.split(",")

['1', '2', '3', '4', '5']